[Patch] DCCP: Support for partial-checksum coverage (RFC 4340, 9.2)

Converted from [SourceForge issue 1810250](http://sourceforge.net/support/tracker.php?aid=1810250), submitted by grenker

his adds the facility to compute partially covered DCCP checksums, as they are defined in
RFC 4340, section 9.2. It also takes care of computing the regular, fully-covered checksum.

Both DCCPv4 and DCCPv6 are covered.

This code has been tested and found to work for over one year. The code had been submitted in October 2006
to the list and was then accepted, but seems to never
have made it into the repository.

Signed-off-by: Gerrit Renker gerrit@erg.abdn.ac.uk
