Geneve and udp_print: misdetected as a different protocol

I'd like to have Geneve traffic consistently identified and printed. The challenge is that according to the RFC any UDP source port is allowed as long as the destination port is 6081.

The logic in `udp_print` does mostly `IS_SRC_OR_DST_PORT` checks. Which makes sense as tcpdump can see both ingress and egress. Geneve matching is relatively low on the list. Therefore if we have e.g. a Geneve packet with `srcport` 521, it is decoded as RIPng.

Some conditions in `udp_print` look at `dstport` specifically, eg. `VAT_PORT`. Will it be acceptable to change Geneve check to look at `dstport` only and put it before other checks?

> Will it be acceptable to change Geneve check to look at `dstport` only and put it before other checks?

That would *probably* reduce the number of misidentifications of packets, so it should be acceptable.

Do you have a sample capture that we can test this on, to make sure we got the change right?

@guyharris thank you for taking a look, please find PCAP attached
[geneve-srcport-521.pcapng.zip](https://github.com/the-tcpdump-group/tcpdump/files/10752763/geneve-srcport-521.pcapng.zip)


(Fun fact: Wireshark also treats that as RIPng.  Fixing that would be possible, but wouldn't involve fixing one single place in the case.)

(Although, with Wireshar/TShark, you can use the "Enabled Protocols..."/`--disable−protocol` manual Big Hammer to disable the RIPng dissector.)

(I did not reach out to Wireshark yet but I will ask them to consider a similar change as well.)
According to RFC, source port in a Geneve implementation CAN be computed as a function of the flow hash (for LB purposes), hence there’s a chance to collide with any other dissector matching on srcport or dstport.

A way could be add a packet type like `-T geneve` and use:
`tcpdump -T geneve [...] dst port 6081`

Or
`tcpdump -T geneve [...] geneve` using the `geneve` libpcap keyword filter.

Test code:
```patch
diff --git a/netdissect.h b/netdissect.h
index aa6dfe5b..77abb5ca 100644
--- a/netdissect.h
+++ b/netdissect.h
@@ -305,6 +305,7 @@ nd_trunc_longjmp(netdissect_options *ndo)
 #define PT_SOMEIP	19	/* Autosar SOME/IP Protocol */
 #define PT_DOMAIN	20	/* Domain Name System (DNS) */
 #define PT_QUIC		21	/* QUIC */
+#define PT_GENEVE	22	/* Geneve */
 
 #define ND_MIN(a,b) ((a)>(b)?(b):(a))
 #define ND_MAX(a,b) ((b)>(a)?(b):(a))
diff --git a/print-udp.c b/print-udp.c
index 2d998d64..105a9ca6 100644
--- a/print-udp.c
+++ b/print-udp.c
@@ -467,6 +467,9 @@ udp_print(netdissect_options *ndo, const u_char *bp, u_int length,
 		case PT_QUIC:
 			quic_print(ndo, cp, length);
 			break;
+		case PT_GENEVE:
+			geneve_print(ndo, cp, length);
+			break;
 		}
 		return;
 	}
diff --git a/tcpdump.c b/tcpdump.c
index 7538a49c..955f1bd0 100644
--- a/tcpdump.c
+++ b/tcpdump.c
@@ -1886,6 +1886,8 @@ main(int argc, char **argv)
 				ndo->ndo_packettype = PT_DOMAIN;
 			else if (ascii_strcasecmp(optarg, "quic") == 0)
 				ndo->ndo_packettype = PT_QUIC;
+			else if (ascii_strcasecmp(optarg, "geneve") == 0)
+				ndo->ndo_packettype = PT_GENEVE;
 			else
 				error("unknown packet type `%s'", optarg);
 			break;
```

@fxlb thank you for the workaround! I don’t see Geneve [listed](https://github.com/the-tcpdump-group/tcpdump/blob/01f8d84898ebaf192095066d04daec1f6eb6b0f1/tcpdump.c#L1847), but adding it won’t break anything for sure.
I’m still interested to find out if we can have Geneve decoded for a mixed traffic use-case, without I making someone unhappy.

Which device sends packets with a source port 521 for the Geneve protocol?

> hence there’s a chance to collide with any other dissector matching on srcport or dstport.

That's why `-T geneve` could be the solution.

> Which device/software sends packets with a source port 521 for the Geneve protocol?

This is our (EMnify) in house implementation in XDP. To be clear, the source port is computed as a function of the flow hash and could yield ANY value. Quoting from RFC 8926, Section 3.3 UDP header:
> Source Port:  A source port selected by the originating tunnel
      endpoint.  This source port SHOULD be the same for all packets
      belonging to a single encapsulated flow to prevent reordering due
      to the use of different paths.  To encourage an even distribution
      of flows across multiple links, the source port SHOULD be
      calculated using a hash of the encapsulated packet headers using,
      for example, a traditional 5-tuple.  Since the port represents a
      flow identifier rather than a true UDP connection, the entire
      16-bit range MAY be used to maximize entropy.

(Fun fact: AWS limits a single flow bandwidth to 2GiB. We are also peering with external parties over Geneve and were explicitly asked to deliver more entropy.)

Full disclosure: we control the implementation and can make changes. Do you think that RFC’s suggestion to use the entire 16-bit range for the source port is fundamentally incompatible with tcpdump’s goal to be helpful for as many diverse users as possible?

Example of Ephemeral Port Range on my Debian VM (customizable):
$ cat /proc/sys/net/ipv4/ip_local_port_range 
32768   60999
They are "High ports".

RFC’s suggestion MAY ("OPTIONAL") is **low**, < SHOULD ("RECOMMENDED") < MUST ("REQUIRED") ...

> Do you think that RFC’s suggestion to use the entire 16-bit range for the source port is fundamentally incompatible with tcpdump’s goal to be helpful for as many diverse users as possible?

"The RFC says X" takes precedence of "$SNIFFER would prefer Y", for all values of $SNIFFER.  Sniffers have to deal with what's on the wire, even if it means extra hackery to, for example, figure out what protocol is being used in a particular packet.

> RFC’s suggestion MAY ("OPTIONAL") is low, < SHOULD ("RECOMMENDED") < MUST ("REQUIRED") ...

That makes it more "you can do this if you want" rather than "you should do this"; I'd view SHOULD, but not MAY, as a suggestion; MAY is just permission.  (MUST is a requirement.)

So the RFC is giving permission to do something that, yes, does complicate the job that a sniffer does, meaning that a user of a sniffer might have to manually tweak something to deal with non-Geneve packets being dissected as Geneve or Geneve packets being dissected as something else.

MAY = "OPTIONAL", SHOULD = "RECOMMENDED", MUST = "REQUIRED".
See: https://www.rfc-editor.org/rfc/rfc2119

The RFC 6056 says that the range for ephemeral ports should be 1024–65535.[[2]](https://en.wikipedia.org/wiki/Ephemeral_port#cite_note-2)

The [Internet Assigned Numbers Authority](https://en.wikipedia.org/wiki/Internet_Assigned_Numbers_Authority) (IANA) and RFC 6335 suggests the range 49152–65535 (215 + 214 to 216 − 1) for dynamic or private ports.[[3]](https://en.wikipedia.org/wiki/Ephemeral_port#cite_note-3)[[4]](https://en.wikipedia.org/wiki/Ephemeral_port#cite_note-4)

(https://en.wikipedia.org/wiki/Ephemeral_port/wiki/Ephemeral_port)

Thus 521 is invalid as a source port.


> Thus 521 is invalid as a source port.

521 would be invalid as a source port if a specification saying that the source port MUST NOT be 521 or MUST NOT be in a range that includes 521.  However:

[RFC 6056, section 3.2 "Ephemeral Port Number Range"](https://www.rfc-editor.org/rfc/rfc6056#section-3.2), says

> As mentioned in [Section 2.1](https://www.rfc-editor.org/rfc/rfc6056#section-2.1), the dynamic ports consist of the range  49152-65535.However, ephemeral port selection algorithms should use the whole range 1024-65535.
> 
> This range includes the IANA Registered Ports; thus, some of these port numbers may be needed for providing a particular service at the local host, which could result in the problems discussed in [Section 3.1](https://www.rfc-editor.org/rfc/rfc6056#section-3.1).  As a result, port numbers that may be needed for providing a particular service at the local host SHOULD NOT be included in the pool of port numbers available for ephemeral port randomization.  If the host does not provide a particular service, the port can be safely allocated to ordinary processes.

There's no MUST there and, in addition, they're talking about port randomization; [RFC 8926, Geneve: Generic Network Virtualization Encapsulation](https://www.rfc-editor.org/rfc/rfc8926.html) says, in [section 3.3 "UDP Header"](https://www.rfc-editor.org/rfc/rfc8926.html#sec-3.3)

> Source Port: A source port selected by the originating tunnel endpoint. This source port SHOULD be the same for all packets belonging to a single encapsulated flow to prevent reordering due to the use of different paths. To encourage an even distribution of flows across multiple links, the source port SHOULD be calculated using a hash of the encapsulated packet headers using, for example, a traditional 5-tuple. Since the port represents a flow identifier rather than a true UDP connection, the entire 16-bit range MAY be used to maximize entropy. In addition to setting the source port, for IPv6, the flow label MAY also be used for providing entropy. For an example of using the IPv6 flow label for tunnel use cases, see [[RFC6438](https://www.rfc-editor.org/rfc/rfc8926.html#RFC6438)].

so the source port isn't required to be picked by ephemeral port randomization - in fact, it SHOULD be chosen by another mechanism, and that mechanism MAY use any port between 1 and 65535 ("the entire 16-bit range", which I don't think includes a port number of 0).  I see no MUST NOT forbidding it from being 521, and I see a MAY saying it's permitted to be in a range that includes 521.

As much as this makes sense to me:
* Geneve is one of many UDP protocols.
* In a UDP header with a fixed destination port the source port is the only sanely variable data item.
* Intermediate hosts need enough variety in hash function input to distribute packets evenly when using ECMP or link aggregation.
* Real-world scenarios rarely go above, let's say, 32 parallel member interfaces in a group, if ever, but do go up to thousands of servers behind a single load balancer in large deployments.
* Operators that can afford huge server pools can also afford sophisticated load balancers.
* There are orders of magnitude more spare ports in the "high" space of UDP source ports than required in most practical use cases to distribute traffic over a bundle of physical interfaces.
* There are many enough security appliances around the Internet that do not like out-of-place UDP traffic coming from random "low" ports (especially well-known ones).
* Calling a specification an RFC or a standard or a golden standard does not change its technical merits.
* All specifications are made by people.
* All people make mistakes.

All this considering, in any UDP protocol squatting the entire 2^16 space for a random source port is in all likelihood a bad protocol design choice because a fraction of such protocol traffic will always clash with the Internet by definition and by common worldwide practice.

Let me suggest you to pay attention to the early warnings that tcpdump and Wireshark made apparent on this occasion, and instead of asking to silence them produce an implementation that instead of doing things "just because you MAY" does the right thing for the best overall harmony, for example:
* Use only reasonable source port numbers and use a good hash function that distributes the input into buckets evenly.
* For use cases where the reasonable hash output space capacity is not sufficient, provision means to use more than one source/destination IP address. This is not new: large-scale NAT requires address pools of certain size to support certain number of concurrent flows.
* For large scale server farms provision use of application-aware load balancers that can take Geneve headers fields as the load balancing metric/affinity input.
* Ideally fix the root cause by raising the problem with the persons who take responsibility for the quality of the specification (the authors are often a good first stop).

I hope this makes enough sense to you.

@infrastation @guyharris @fxlb thank you for your perspectives! Will change the implementation to be more conservative with the source port choice.

GENEVE_PORT (6081) is a destination port. We should do this change:

```patch
-               else if (IS_SRC_OR_DST_PORT(GENEVE_PORT))
+               else if (dport == GENEVE_PORT)
```

> GENEVE_PORT (6081) is a destination port. We should do this change:

(Done in main and 4.99 branches.)
