Strange check for empty TLVs in otlv_print()

print_forces.c 1191
```C++
	/* empty TLVs like COMMIT and TRCOMMIT are empty, we stop here .. */
	if (!ops->flags & ZERO_TTLV) { // <===
		if (tll != 0)	/* instead of "if (tll)" - for readability .. */
			ND_PRINT((ndo, "%s: Illegal - MUST be empty\n", ops->s));
		return rc;
	}
```
I think should be "if (ops->flags & ZERO_TTLV) ". Or not?
Actually it's working like "if ( (!ops->flags) & ZERO_TTLV )"

> I think should be "if (ops->flags & ZERO_TTLV) ".

Yes.

Fixed in 07ed9bbe0917ceebb6734e28d0a428f0a6c58c4a and backported to the 4.7 branch.

Or maybe not:

    http://buildbot.wireshark.org/tcpdump/builders/Ubuntu-12.04-x64/builds/9/steps/check%20tcpdump/logs/stdio

Did you withdraw that commit from master?

No. `(!ops->flags & ZERO_TTLV)` is, as noted, the same as `if ( (!ops->flags) & ZERO_TTLV )`, so it's clearly wrong.  `ZERO_TTLV` appears to be intended to mean "this OPER-TLV has no DATA TLV or RESULT-TLV", in which case the test should be `(ops->flags & ZERO_TTLV)`.  The use of `ZERO_TTLV` in the `OPTLV_msg[]` table appears to match [Table 2 in RFC 5810](http://tools.ietf.org/html/rfc5810#section-7).

So something more complicated is going on here, unless I've missed something.

In `otlv_print()` there's a comment

    /* empty TLVs like COMMIT and TRCOMMIT are empty, we stop here .. */

However, at least as I read [section 7 of RFC 5810](http://tools.ietf.org/html/rfc5810#section-7), no OPER-TLV is empty - they must have at least one PATH-DATA-TLV (`OPER-TLV := 1*PATH-DATA-TLV`).

So I think `otlv_print()` is wrong.  I completely removed the "empty TLVs" stuff in 382bd1e6390b693ca0f63221c1ef237f86f6c449 and backported that to the 4.7 branch.